.btn-color {
  background-color: #df504c;
}
.img-center {
  margin: 20px 25%;
}
.lead {
  font-size: 1rem;
}
.bg-primary {
  background-image: url("/assets/img/bg-primary.png");
}
.text-red {
  color: #dd4e4a;
}
.offset-nav {
  padding-top: 115px;
}
