<!--Carousel-->
<section class="carousel">
    <div id="carousel-banner-parent" class="carousel-inner owl-carousel">
        <div *ngFor="let item of bannerList" >
            <img [src]="getFeaturedImage(item)" class="carousel-image"/>
            <div class="carousel-legend">
                <h2>{{item.title.rendered}}</h2>
                <h5 [innerHTML]="item.content.rendered"></h5>
            </div>
        </div>
    </div>
</section>

<!--A Empresa-->
<div class="empresa py-5" *ngIf="empresa">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">{{empresa.title?.rendered}}</h1>
                <p class="lead" [innerHTML]="empresa.content?.rendered"></p>
                <button type="button" class="btn btn-primary">Ver mais</button>
            </div>
            <div class="col-md-6">
                <img class="img-thumbnail" [src]="getFeaturedImage(empresa)"/>
            </div>
        </div>
    </div>
</div>

<!--Serviços-->
<div class="services py-5">
    <div class="container">
        <h1 class="services-title title">Serviços</h1>
        <div id="carousel-servicos" class="carousel-inner owl-carousel">
            <div class="services-item py-2"
                 *ngFor="let item of servicoList; let i = index">

                <img class="px-3"
                     [src]="getFeaturedImage(item)" />

                <div class="services-legend">
                    <h4>{{item.title.rendered}}</h4>
                    <button type="button" class="btn btn-primary btn-sm"
                            [routerLink]="'/servicos/' + item.id">Ver mais</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Novidades-->
<div class="container novidades-jumbotron bg-primary pading-section" id="novidades">
    <h1 class="display-4 text-uppercase text-red text-center">Novidades</h1>
    <div id="carousel-novidades" class="owl-carousel">
        <div *ngFor="let item of novidadesList; let i = index" class="item item-middle cursor-pointer border">
            <a [routerLink]="'/novidades/' + item.id">
                <img [src]="getFeaturedImage(item)"/>
                <div class="carousel-caption bg-white">
                    <div class="text-dark">
                        <div class="font-title">{{item.title.rendered}}</div>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>

<!--Clientes-->
<div class="bg-secundary">
    <div class="container clientes-jumbotron" id="clientes">
        <h1 class="display-4 text-uppercase text-light text-center">Clientes</h1>

        <div id="carousel-clientes" class="owl-carousel">
            <div class="item item-middle zoom-clientes" name="card-cliente" *ngFor="let item of clienteList; let i = index"
                 (click)="changeCliente(item, i)">
                <img [src]="getFeaturedImage(item)"/>
            </div>
        </div>

        <div class="clientes-caption" *ngIf="tempCliente">
            <i class="fa fa-4x fa-quote-left pl-4" aria-hidden="true"></i>
            <h4 class="text-light text-center adjust-clientes adjust-padding-h4" [innerHTML]="tempCliente.content.rendered"></h4>
            <h5 class="text-light text-center font-weight-bold">{{tempCliente.title.rendered}}</h5>
            <h6 class="text-red text-center font-weight-bold">{{tempCliente.acf.profissao}}</h6>
            <i class="fa fa-4x fa-quote-right adjust-clientes float-right pr-4" aria-hidden="true"></i>
        </div>

    </div>
</div>

<!--Contato-->
<div class="contato py-5" id="contato">
    <div class="container">
        <h1 class="display-4 text-uppercase text-red">Contato</h1>

        <form action="mailto:ormazabalnascimento@gmail.com" method="post" enctype="text/plain">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="inputNome" class="font-weight-bold">Nome</label>
                        <input type="text" class="form-control" id="inputNome">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="inputTelefone" class="font-weight-bold">Telefone</label>
                        <input type="number" class="form-control" id="inputTelefone">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="font-weight-bold">E-mail</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="form-group">
                <label for="inputMsg" class="font-weight-bold">Mensagem</label>
                <textarea class="form-control" id="inputMsg" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-enviar bg-red text-light font-weight-bold btn-lg rounded-0">
                Enviar Mensagem
            </button>
        </form>
    </div>
</div>

