<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="nav">
    <div class="container">
        <a class="navbar-brand" href="#">Angular WpApi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                (click)="toggleNavbar()"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-column align-items-end" id="navbarNav">
            <button type="button" class="btn btn-primary font-weight-bold">
                <i class="fas fa-lock"></i> Área do Cliente
            </button>
            <ul class="navbar-nav justify-content-end text-uppercase font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact:true}"
                       (click)="toggleLink('/home', true)"
                       routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact:true}"
                       (click)="toggleLink('/empresa', true)"
                       routerLink="/empresa">A Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact:true}"
                       (click)="toggleLink('/servicos', true)"
                       routerLink="/servicos">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact:true}"
                       (click)="toggleLink('/blog', true)"
                       routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact:true}"
                       (click)="toggleLink('/contato', true)"
                       routerLink="/contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
