@import '~src/assets/styles/customized';

body {
  font-family: 'Montserrat', sans-serif;
  background: #f9f9f9;
}


//Nanbar
.single-nav {
  .navbar {
    position: relative !important;
    background: linear-gradient(#28507a 73%, rgba(0, 0, 0, 0) 50%);
  }
}
.navbar-dark{
  background: $dark;
  .navbar-collapse{
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar-nav {
    .nav-link{
      color: $white;
      font-weight: 600;

      &:hover, &.active{
        color: $primary-color;
      }
    }
  }
}

//Carousel
.carousel {
  padding: 0 !important;
  .carousel-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .carousel-legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    pointer-events: none;

    @include flex-center-end;
    color:$white;
    padding-bottom: 3rem;
  }
  .carousel-legend-box{
    width: 100%;
    max-width: 400px;
    position: relative;
    padding: 15px 25px;
    &:before{
      @include before-default;
      background: $primary-color;
      width: 3px;
      height: 100%;
    }
    .carousel-legend_title{
      text-transform: uppercase;
      font-weight: 700;
    }
    .carousel-legend_text{
      font-size: 20px;
    }
  }
  .carousel-inner{
    .owl-nav {
      font-size: 4rem;
      left: 5%;
      width: 90%;
      button{
        span{
          color: $white;
        }
        &.disabled{
          span{
            color: $gray-500;
          }
        }
      }
    }
  }
}

//Servicos
.services {
  overflow: hidden;
  background-image: url("/assets/img/bg-secundary.png");
  .services-title{
    color: $white;
  }
}
//Novidades
.news {
  overflow: hidden;
  background-image: url("/assets/img/bg-primary.png");
  .news-title{
    color: $dark;
  }
}



//Configuração padrão para Owl carousel
.carousel-inner{
  overflow: inherit;
  .owl-nav {
    position: absolute;
    font-size: 3rem;
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
    @include flex-center-between;

    button{
      outline: none;
      span{
        color: $primary-color;
      }
      &.disabled{
        span{
          color: $dark;
        }
      }
    }
  }
}

//Lista padrão de cards
.cards-item{
  cursor: pointer;
  .cards-image{
    width: 100%;
    height: 190px;
    object-fit: cover;
  }
  .cards-legend {
    height: 100px;
    text-align: center;
    padding: 0 1rem;
    @include flex-center;
  }
}

//Contents
.title{
  text-transform: uppercase;
  font-weight: 300;
}


//Páginas internas
.content-area{
  margin: 3rem 0;

  .single-thumb{
    float: right;
    width: 550px;
    height: 350px;
    object-fit: cover;
    margin: 1rem 0 2rem 2rem;
    border-radius: .4rem;
    box-shadow: 13px 13px 12px rgba(0,0,0,0.2);
  }
}

//Galeria wordpress
 .content-area {
   .wp-block-gallery {
     padding: 0;
     text-align: center;
     .blocks-gallery-item {
       width: 30.4%;
       display: inline-block;
     }

     figure {
       margin: .5rem;
       a {
         height: 100%;

         img {
           border-radius: 5px;
           border: 4px solid #fff;
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
           width: 100%;
           height: 230px;
           object-fit: cover;
         }
       }
     }

     &:before {
       display: none !important;
     }
   }

   @media all and(max-width: 768px){
     .wp-block-gallery{
       .blocks-gallery-item {
         width: 50%;
       }
     }
   }
 }

//Forms
form{
  .form-group{
    label{
      font-weight: 600;
      font-size: 13px;
    }
    .form-control{
      height: 50px !important;
      border-radius: 0;
    }
    textarea.form-control{
      height: 190px !important;
    }
  }
}
