//@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@import '~node_modules/bootstrap/scss/bootstrap';
@import '~node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';


//Customizar cores via estilo bootstrap
$primary-color: #dd4e4a;
$secondary-color: #0a283f;


$theme-colors:(
        "primary-color": $primary-color,
        "secondary-color": $secondary-color,
);
.btn-primary {
  text-transform: uppercase;
  @include button-variant(
                  $primary-color,
                  darken($primary-color, 7.5%),
                  darken($primary-color, 10%),
                  lighten($primary-color,5%),
                  lighten($primary-color, 10%),
                  darken($primary-color,30%));
}


// SASS mixins personalizados
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}
@mixin flex-start-end() {
  @include flex-column;
  align-items: flex-start;
  justify-content: flex-end;
}
@mixin flex-center-end() {
  @include flex-column;
  align-items: center;
  justify-content: flex-end;
}
@mixin flex-center-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center() {
  @include flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin before-default() {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
