<div *ngIf="!isLoading">
    <div class="content-area">
        <div class="container">
            <h1 class="title" [innerHTML]='pageBlog?.title.rendered'></h1>
            <div [innerHTML]='pageBlog?.content.rendered'></div>


            <div class="row">
                <div class="col-md-4" *ngFor="let blg of blogPosts" [routerLink]="'/blog/' + blg.id">
                    <div class="cards-item my-3">
                        <img class="cards-image"
                             [src]="getInterviewsFeaturedImage(blg)"
                             alt="{{blg.title.rendered}}">
                        <div class="cards-legend">
                            <h5 class="card-text" [innerHTML]="blg.title.rendered"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
